{{ define "DeleteColumn" }}{{ $smallTableName := .TableName | toCamel | Untitle }}
func (q {{ $smallTableName }}DeleteSQL) {{ .Name | toCamel | Title }}(v {{ .TypeName }}, exprs ...sqlla.Operator) {{ $smallTableName }}DeleteSQL {
	var op sqlla.Operator
	if len(exprs) == 0 {
		op = sqlla.OpEqual
	} else {
		op = exprs[0]
	}

	where := sqlla.Expr{{ .TypeName | Exprize | Title }}{Value: v, Op: op, Column: "{{ .Name }}"}
	q.where = append(q.where, where)
	return q
}


func (q {{ $smallTableName }}DeleteSQL) {{ .Name | toCamel | Title }}In(v {{ .TypeName }}, vs ...{{ .TypeName }}) {{ $smallTableName }}DeleteSQL {
	where := sqlla.ExprMulti{{ .TypeName | Exprize | Title }}{Values: append([]{{ .TypeName }}{v}, vs...), Op: sqlla.MakeInOperator(len(vs) + 1), Column: "{{ .Name }}"}
	q.where = append(q.where, where)
	return q
}
{{ end }}
