{{ define "DeleteColumnNullT" }}
{{ $smallTableName := .TableName | toCamel | untitle }}
func (q {{ $smallTableName }}DeleteSQL) {{ .MethodName }}(v {{ .TypeName }}, exprs ...sqlla.Operator) {{ $smallTableName }}DeleteSQL {
	where := {{ .ExprValue }}{Value: sql.Null[{{ .BaseTypeName }}]{ V: {{ .ExprValueIdentifier }}, Valid: true }, Op: sqlla.Operators(exprs), Column: {{ cquoteby .Name }}}
	q.where = append(q.where, where)
	return q
}

func (q {{ $smallTableName }}DeleteSQL) {{ .MethodName }}IsNull() {{ $smallTableName }}DeleteSQL {
	where := {{ .ExprValue }}{Value: sql.Null[{{ .BaseTypeName }}]{ Valid: false }, Op: sqlla.Operators{sqlla.OpEqual}, Column: {{ cquoteby .Name }}}
	q.where = append(q.where, where)
	return q
}

func (q {{ $smallTableName }}DeleteSQL) {{ .MethodName }}IsNotNull() {{ $smallTableName }}DeleteSQL {
	where := {{ .ExprValue }}{Value: sql.Null[{{ .BaseTypeName }}]{ Valid: false }, Op: sqlla.Operators{sqlla.OpNot}, Column: {{ cquoteby .Name }}}
	q.where = append(q.where, where)
	return q
}

func (q {{ $smallTableName }}DeleteSQL) {{ .MethodName }}In(vs ...{{ .TypeName }}) {{ $smallTableName }}DeleteSQL {
	_vs := make([]{{ .BaseTypeName }}, 0, len(vs))
	for _, v := range vs {
		_vs = append(_vs, {{ .ExprValueIdentifier }})
	}
	where := {{ .ExprMultiValue }}{Values: _vs, Op: sqlla.MakeInOperator(len(vs)), Column: {{ cquoteby .Name }}}
	q.where = append(q.where, where)
	return q
}
{{- end }}
