{{ define "DeleteColumn" }}{{ $smallTableName := .TableName | toCamel | untitle }}
{{- if .IsNullT }}
{{- template "DeleteColumnNullT" . }}
{{- else }}
func (q {{ $smallTableName }}DeleteSQL) {{ .MethodName }}(v {{ .TypeName }}, exprs ...sqlla.Operator) {{ $smallTableName }}DeleteSQL {
	where := {{ .ExprValue }}{Value: {{ .ExprValueIdentifier }}, Op: sqlla.Operators(exprs), Column: {{ cquoteby .Name }}}
	q.where = append(q.where, where)
	return q
}


func (q {{ $smallTableName }}DeleteSQL) {{ .MethodName }}In(vs ...{{ .TypeName }}) {{ $smallTableName }}DeleteSQL {
{{- if .HasUnderlyingType }}
	_vs := make([]{{ .BaseTypeName }}, 0, len(vs))
	for _, v := range vs {
		_vs = append(_vs, {{ .ExprValueIdentifier }})
	}
	where := {{ .ExprMultiValue }}{Values: _vs, Op: sqlla.MakeInOperator(len(vs)), Column: {{ cquoteby .Name }}}
{{- else }}
	where := {{ .ExprMultiValue }}{Values: vs, Op: sqlla.MakeInOperator(len(vs)), Column: {{ cquoteby .Name }}}
{{- end }}
	q.where = append(q.where, where)
	return q
}
{{- end }}
{{ end }}
