{{ define "Delete" }}
{{- $camelName := .Name | toCamel | toLower -}}
{{- $constructor := printf "New%sSQL" (.Name | toCamel | Title) -}}
type {{ $camelName }}DeleteSQL struct {
	{{ .Name }}SQL
}

func (q {{ $camelName }}SQL) Delete() {{ $camelName }}DeleteSQL {
	return {{ $camelName }}DeleteSQL{
		q,
	}
}

{{ range .Columns }}{{ template "DeleteColumn" . }}{{ end }}
func (q {{ $camelName }}DeleteSQL) ToSql() (string, []interface{}, error) {
	wheres, vs, err := q.where.ToSql()
	if err != nil {
		return "", nil, err
	}

	query := "DELETE FROM {{ .Name }}"
	if wheres != "" {
		query += " WHERE" + wheres
	}

	return query + ";", vs, nil
}

{{- if .HasPk }}
func (s {{ .StructName }}) Delete(db sqlla.DB) (sql.Result, error) {
	query, args, err := {{ $constructor }}().Delete().{{ .PkColumn.Name | toCamel | Title }}(s.{{ .PkColumn.FieldName }}).ToSql()
	if err != nil {
		return nil, err
	}
	return db.Exec(query, args...)
}
{{- end }}
{{ end }}
