{{ define "InsertColumn" }}{{ $smallTableName := .TableName | toCamel | untitle }}
{{- if .IsNullT }}
func (q {{ $smallTableName }}InsertSQL) Value{{ .MethodName }}(v {{ .TypeParameter }}) {{ $smallTableName }}InsertSQL {
	q.setMap["`{{ .Name }}`"] = sql.Null[{{ .TypeParameter }}]{ V: v, Valid: true }
	return q
}

func (q {{ $smallTableName }}InsertSQL) Value{{ .MethodName }}IsNull() {{ $smallTableName }}InsertSQL {
	q.setMap["`{{ .Name }}`"] = sql.Null[{{ .TypeParameter }}]{ Valid: false }
	return q
}

{{- else }}
func (q {{ $smallTableName }}InsertSQL) Value{{ .MethodName }}(v {{ .TypeName }}) {{ $smallTableName }}InsertSQL {
	q.setMap["`{{ .Name }}`"] = v
	return q
}
{{- end }}

{{ end }}
