{{ define "InsertOnConflictDoUpdateColumn" }}{{ $smallTableName := .TableName | toCamel | untitle }}
{{- if .IsNullT }}
func (q {{ $smallTableName }}InsertOnConflictDoUpdateSQL) ValueOnUpdate{{ .MethodName }} (v {{ .TypeName }}) {{ $smallTableName }}InsertOnConflictDoUpdateSQL {
	q.onConflictDoUpdateMap[{{ cquoteby .Name }}] = {{ .ExprValueIdentifier }}
	return q
}

func (q {{ $smallTableName }}InsertOnConflictDoUpdateSQL) ValueOnUpdate{{ .MethodName }}ToNull () {{ $smallTableName }}InsertOnConflictDoUpdateSQL {
	q.onConflictDoUpdateMap[{{ cquoteby .Name }}] = sql.Null[{{ .BaseTypeName }}]{ Valid: false }
	return q
}
{{- else }}
func (q {{ $smallTableName }}InsertOnConflictDoUpdateSQL) ValueOnUpdate{{ .MethodName }} (v {{ .TypeName }}) {{ $smallTableName }}InsertOnConflictDoUpdateSQL {
	q.onConflictDoUpdateMap[{{ cquoteby .Name }}] = {{ .ExprValueIdentifier }}
	return q
}
{{- end }}

func (q {{ $smallTableName }}InsertOnConflictDoUpdateSQL) RawValueOnUpdate{{ .MethodName }} (v sqlla.SetMapRawValue) {{ $smallTableName }}InsertOnConflictDoUpdateSQL {
	q.onConflictDoUpdateMap[{{ cquoteby .Name }}] = v
	return q
}

func (q {{ $smallTableName }}InsertOnConflictDoUpdateSQL) SameOnUpdate{{ .MethodName }} () {{ $smallTableName }}InsertOnConflictDoUpdateSQL {
	q.onConflictDoUpdateMap[{{ cquoteby .Name }}] = sqlla.SetMapRawValue(`"excluded".` + {{ cquoteby .Name }})
	return q
}
{{ end }}
{{ define "BulkInsertOnConflictDoUpdateColumn" }}{{ $smallTableName := .TableName | toCamel | untitle }}
{{- if .IsNullT }}
func (q {{ $smallTableName }}BulkInsertOnConflictDoUpdateSQL) ValueOnUpdate{{ .MethodName }} (v {{ .TypeName }}) {{ $smallTableName }}BulkInsertOnConflictDoUpdateSQL {
	q.onConflictDoUpdateMap[{{ cquoteby .Name }}] = {{ .ExprValueIdentifier }}
	return q
}

func (q {{ $smallTableName }}BulkInsertOnConflictDoUpdateSQL) ValueOnUpdate{{ .MethodName }}ToNull () {{ $smallTableName }}BulkInsertOnConflictDoUpdateSQL {
	q.onConflictDoUpdateMap[{{ cquoteby .Name }}] = sql.Null[{{ .BaseTypeName }}]{ Valid: false }
	return q
}
{{- else }}
func (q {{ $smallTableName }}BulkInsertOnConflictDoUpdateSQL) ValueOnUpdate{{ .MethodName }} (v {{ .TypeName }}) {{ $smallTableName }}BulkInsertOnConflictDoUpdateSQL {
	q.onConflictDoUpdateMap[{{ cquoteby .Name }}] = {{ .ExprValueIdentifier }}
	return q
}
{{- end }}

func (q {{ $smallTableName }}BulkInsertOnConflictDoUpdateSQL) RawValueOnUpdate{{ .MethodName }} (v sqlla.SetMapRawValue) {{ $smallTableName }}BulkInsertOnConflictDoUpdateSQL {
	q.onConflictDoUpdateMap[{{ cquoteby .Name }}] = v
	return q
}

func (q {{ $smallTableName }}BulkInsertOnConflictDoUpdateSQL) SameOnUpdate{{ .MethodName }} () {{ $smallTableName }}BulkInsertOnConflictDoUpdateSQL {
	q.onConflictDoUpdateMap[{{ cquoteby .Name }}] = sqlla.SetMapRawValue(`"excluded".` + {{ cquoteby .Name }})
	return q
}
{{ end }}
