{{ define "InsertColumn" }}{{ $smallTableName := .TableName | toCamel | toLower }}
func (q {{ $smallTableName }}InsertSQL) Value{{ .Name | toCamel | Title }}(v {{ .TypeName }}) {{ $smallTableName }}InsertSQL {
	q.setMap["{{ .Name }}"] = v
	return q
}

{{ end }}
