{{ define "InsertColumn" }}{{ $smallTableName := .TableName | toCamel | Untitle }}
func (q {{ $smallTableName }}InsertSQL) Value{{ .MethodName }}(v {{ .TypeName }}) {{ $smallTableName }}InsertSQL {
	q.setMap["`{{ .Name }}`"] = v
	return q
}

{{ end }}
