{{ define "Insert" }}
{{- $camelName := .Name | toCamel | untitle -}}
{{- $constructor := printf "New%sSQL" (.Name | toCamel) -}}
type {{ $camelName }}InsertSQL struct {
	{{ $camelName }}SQL
	setMap	sqlla.SetMap
	Columns []string
}

func (q {{ $camelName }}SQL) Insert() {{ $camelName }}InsertSQL {
	return {{ $camelName }}InsertSQL{
		{{ $camelName }}SQL: q,
		setMap: sqlla.SetMap{},
	}
}

{{ range .Columns }}{{ template "InsertColumn" . }}{{ end }}
func (q {{ $camelName }}InsertSQL) ToSql() (string, []any, error) {
	{{- if eq (dialect) "mysql" }}
	query, vs, err := q.{{ $camelName }}InsertSQLToSql()
	{{- end }}
	{{- if eq (dialect) "postgresql" }}
	query, _, vs, err := q.{{ $camelName }}InsertSQLToSqlPg(0)
	{{- end }}
	if err != nil {
			return "", []any{}, err
	}
	{{- if eq (dialect) "postgresql" }}
	columns := strings.Join({{ $camelName }}AllColumns, ", ")
	return query + " RETURNING " + columns + ";", vs, nil
	{{- else }}
	return query + ";", vs, nil
	{{- end }}
}

func (q {{ $camelName }}InsertSQL) rowsNum() int {
	return 1
}

{{ if eq (dialect) "mysql" }}
func (q {{ $camelName }}InsertSQL) {{ $camelName }}InsertSQLToSql() (string, []any, error) {
{{- end }}
{{- if eq (dialect) "postgresql" }}
func (q {{ $camelName }}InsertSQL) {{ $camelName }}InsertSQLToSqlPg(offset int) (string, int, []any, error) {
{{- end }}
	var err error
	var s interface{} = {{ .StructName }}{}
	if t, ok := s.({{ $camelName }}DefaultInsertHooker); ok {
		q, err = t.DefaultInsertHook(q)
		if err != nil {
			{{- if eq (dialect) "mysql" }}
			return "", []any{}, err
			{{- end }}
			{{- if eq (dialect) "postgresql" }}
			return "", 0, []any{}, err
			{{- end }}
		}
	}
	{{- if eq (dialect) "mysql" }}
	qs, vs, err := q.setMap.ToInsertSql()
	{{- end }}
	{{- if eq (dialect) "postgresql" }}
	qs, offset, vs, err := q.setMap.ToInsertSqlPg(offset)
	{{- end }}
	if err != nil {
		{{- if eq (dialect) "mysql" }}
		return "", []any{}, err
		{{- end }}
		{{- if eq (dialect) "postgresql" }}
		return "", 0, []any{}, err
		{{- end }}
	}

	query := "INSERT INTO " + {{ cquoteby .TableName }} + " " + qs

	{{- if eq (dialect) "mysql" }}
	return query, vs, nil
	{{- end }}
	{{- if eq (dialect) "postgresql" }}
	return query, offset, vs, nil
	{{- end }}
}

{{ if .HasPk -}}
func (q {{ $camelName }}InsertSQL) Exec(db sqlla.DB) ({{ .StructName }}, error) {
{{- else -}}
func (q {{ $camelName }}InsertSQL) Exec(db sqlla.DB) (sql.Result, error) {
{{- end }}
	return q.ExecContext(context.Background(), db)
}

{{ if eq (dialect) "postgresql" }}
func (q {{ $camelName }}InsertSQL) ExecContext(ctx context.Context, db sqlla.DB) ({{ .StructName }}, error) {
	query, args, err := q.ToSql()
	if err != nil {
		return {{ .StructName }}{}, err
	}
	row := db.QueryRowContext(ctx, query, args...)
	result, err := {{ $constructor }}().Select().Scan(row)
	if err != nil {
		return {{ .StructName }}{}, err
	}
	return result, nil
}

func (q {{ $camelName }}InsertSQL) ExecContextWithoutSelect(ctx context.Context, db sqlla.DB) (sql.Result, error) {
	query, args, err := q.ToSql()
	if err != nil {
		return nil, err
	}
	result, err := db.ExecContext(ctx, query, args...)
	return result, err
}
{{ else }}
{{ if .HasPk -}}
func (q {{ $camelName }}InsertSQL) ExecContext(ctx context.Context, db sqlla.DB) ({{ .StructName }}, error) {
{{- else -}}
func (q {{ $camelName }}InsertSQL) ExecContext(ctx context.Context, db sqlla.DB) (sql.Result, error) {
{{- end }}
	query, args, err := q.ToSql()
	if err != nil {
		{{ if .HasPk -}}
		return {{ .StructName }}{}, err
		{{- else }}
		return nil, err
		{{- end }}
	}
	{{- if not .HasPk }}
	result, err := db.ExecContext(ctx, query, args...)
	return result, err
	{{- else }}
	result, err := db.ExecContext(ctx, query, args...)
	if err != nil {
		return {{ .StructName }}{}, err
	}
	id, err := result.LastInsertId()
	if err != nil {
		return {{ .StructName }}{}, err
	}
	return {{ $constructor }}().Select().PkColumn(id).SingleContext(ctx, db)
	{{- end }}
}

{{ if .HasPk -}}
func (q {{ $camelName }}InsertSQL) ExecContextWithoutSelect(ctx context.Context, db sqlla.DB) (sql.Result, error) {
	query, args, err := q.ToSql()
	if err != nil {
		return nil, err
	}
	result, err := db.ExecContext(ctx, query, args...)
	return result, err
}
{{- end }}
{{- end }}

type {{ $camelName }}DefaultInsertHooker interface {
	DefaultInsertHook({{ $camelName }}InsertSQL) ({{ $camelName }}InsertSQL, error)
}

type {{ $camelName }}InsertSQLToSqler interface {
	rowsNum() int
	{{- if eq (dialect) "mysql" }}
	{{ $camelName }}InsertSQLToSql() (string, []any, error)
	{{- end }}
	{{- if eq (dialect) "postgresql" }}
	{{ $camelName }}InsertSQLToSqlPg(offset int) (string, int, []any, error)
	{{- end }}
}

type {{ $camelName }}BulkInsertSQL struct {
	insertSQLs []{{ $camelName }}InsertSQL
}

func (q {{ $camelName }}SQL) BulkInsert() *{{ $camelName }}BulkInsertSQL {
	return &{{ $camelName }}BulkInsertSQL{
		insertSQLs: []{{ $camelName }}InsertSQL{},
	}
}

func (q *{{ $camelName }}BulkInsertSQL) Append(iqs ...{{ $camelName }}InsertSQL) {
	q.insertSQLs = append(q.insertSQLs, iqs...)
}

func (q *{{ $camelName }}BulkInsertSQL) rowsNum() int {
	return len(q.insertSQLs)
}

{{ if eq (dialect) "mysql" }}
func (q *{{ $camelName }}BulkInsertSQL) {{ $camelName }}InsertSQLToSql() (string, []any, error) {
{{- end }}
{{- if eq (dialect) "postgresql" }}
func (q *{{ $camelName }}BulkInsertSQL) {{ $camelName }}InsertSQLToSqlPg(offset int) (string, int, []any, error) {
{{- end }}
	if len(q.insertSQLs) == 0 {
		{{- if eq (dialect) "mysql" }}
		return "", []any{}, fmt.Errorf("sqlla: This {{ $camelName }}BulkInsertSQL{{ "'s" }} InsertSQL was empty")
		{{- end }}
		{{- if eq (dialect) "postgresql" }}
		return "", 0, []any{}, fmt.Errorf("sqlla: This {{ $camelName }}BulkInsertSQL{{ "'s" }} InsertSQL was empty")
		{{- end }}
	}
	iqs := make([]{{ $camelName }}InsertSQL, len(q.insertSQLs))
	copy(iqs, q.insertSQLs)

	var s interface{} = {{ .StructName }}{}
	if t, ok := s.({{ $camelName }}DefaultInsertHooker); ok {
		for i, iq := range iqs {
			var err error
			iq, err = t.DefaultInsertHook(iq)
			if err != nil {
				{{- if eq (dialect) "mysql" }}
				return "", []any{}, err
				{{- end }}
				{{- if eq (dialect) "postgresql" }}
				return "", 0, []any{}, err
				{{- end }}
			}
			iqs[i] = iq
		}
	}

	sms := make(sqlla.SetMaps, 0, len(q.insertSQLs))
	for _, iq := range q.insertSQLs {
		sms = append(sms, iq.setMap)
	}

	{{ if eq (dialect) "mysql" }}
	query, vs, err := sms.ToInsertSql()
	{{ end -}}
	{{ if eq (dialect) "postgresql" }}
	query, offset, vs, err := sms.ToInsertSqlPg(offset)
	{{ end -}}
	if err != nil {
		{{- if eq (dialect) "mysql" }}
		return "", []any{}, err
		{{- end }}
		{{- if eq (dialect) "postgresql" }}
		return "", 0, []any{}, err
		{{- end }}
	}

	{{- if eq (dialect) "mysql" }}
	return "INSERT INTO " + {{ cquoteby .TableName }} + " " + query, vs, nil
	{{- end }}
	{{- if eq (dialect) "postgresql" }}
	return "INSERT INTO " + {{ cquoteby .TableName }} + " " + query, offset, vs, nil
	{{- end }}
}

func (q *{{ $camelName }}BulkInsertSQL) ToSql() (string, []any, error) {
	{{- if eq (dialect) "mysql" }}
	query, vs, err := q.{{ $camelName }}InsertSQLToSql()
	{{- end }}
	{{- if eq (dialect) "postgresql" }}
	query, _, vs, err := q.{{ $camelName }}InsertSQLToSqlPg(0)
	{{- end }}
	if err != nil {
			return "", []any{}, err
	}
	{{- if eq (dialect) "postgresql" }}
	columns := strings.Join({{ $camelName }}AllColumns, ", ")
	return query + " RETURNING " + columns + ";", vs, nil
	{{- else }}
	return query + ";", vs, nil
	{{- end }}
}

{{- if eq (dialect) "postgresql" }}
func (q *{{ $camelName }}BulkInsertSQL) ExecContext(ctx context.Context, db sqlla.DB) ([]{{ .StructName }}, error) {
	query, args, err := q.ToSql()
	if err != nil {
		return nil, err
	}
	rows, err := db.QueryContext(ctx, query, args...)
	if err != nil {
		return nil, err
	}
	defer rows.Close()
	results := make([]{{ .StructName }}, 0, len(q.insertSQLs))
	sel := {{ $constructor }}().Select()
	for rows.Next() {
		result, err := sel.Scan(rows)
		if err != nil {
			return nil, err
		}
		results = append(results, result)
	}
	return results, nil
}

func (q *{{ $camelName }}BulkInsertSQL) ExecContextWithoutSelect(ctx context.Context, db sqlla.DB) (sql.Result, error) {
	query, args, err := q.ToSql()
	if err != nil {
		return nil, err
	}
	result, err := db.ExecContext(ctx, query, args...)
	return result, err
}
{{- end }}

{{- if eq (dialect) "mysql" }}
func (q *{{ $camelName }}BulkInsertSQL) ExecContext(ctx context.Context, db sqlla.DB) (sql.Result, error) {
	query, args, err := q.ToSql()
	if err != nil {
		return nil, err
	}
	result, err := db.ExecContext(ctx, query, args...)
	return result, err
}
{{- end }}


{{- if eq (dialect) "mysql" }}
{{ template "InsertMySQL" . }}
{{- end }}
{{- if eq (dialect) "postgresql" }}
{{ template "InsertPostgreSQL" . }}
{{- end }}
{{ end }}
