{{ define "Insert" }}
{{- $camelName := .Name | toCamel | Untitle -}}
{{- $constructor := printf "New%sSQL" (.Name | toCamel) -}}
type {{ $camelName }}InsertSQL struct {
	{{ $camelName }}SQL
	setMap	sqlla.SetMap
	Columns []string
}

func (q {{ $camelName }}SQL) Insert() {{ $camelName }}InsertSQL {
	return {{ $camelName }}InsertSQL{
		{{ $camelName }}SQL: q,
		setMap: sqlla.SetMap{},
	}
}

{{ range .Columns }}{{ template "InsertColumn" . }}{{ end }}
func (q {{ $camelName }}InsertSQL) ToSql() (string, []interface{}, error) {
	var err error
	var s interface{} = {{ .StructName }}{}
	if t, ok := s.({{ $camelName }}DefaultInsertHooker); ok {
		q, err = t.DefaultInsertHook(q)
		if err != nil {
			return "", []interface{}{}, err
		}
	}
	qs, vs, err := q.setMap.ToInsertSql()
	if err != nil {
		return "", []interface{}{}, err
	}

	query := "INSERT INTO {{ .Name }} " + qs

	return query + ";", vs, nil
}

{{ if .HasPk -}}
func (q {{ $camelName }}InsertSQL) Exec(db sqlla.DB) ({{ .StructName }}, error) {
{{- else -}}
func (q {{ $camelName }}InsertSQL) Exec(db sqlla.DB) (db.Result, error) {
{{- end }}
	query, args, err := q.ToSql()
	if err != nil {
		return {{ .StructName }}{}, err
	}
	result, err := db.Exec(query, args...)
	{{ if .HasPk -}}
	if err != nil {
		return {{ .StructName }}{}, err
	}
	id, err := result.LastInsertId()
	if err != nil {
		return {{ .StructName }}{}, err
	}
	return {{ $constructor }}().Select().PkColumn(id).Single(db)
	{{- else -}}
	return result, err
	{{- end }}
}

type {{ $camelName }}DefaultInsertHooker interface {
	DefaultInsertHook({{ $camelName }}InsertSQL) ({{ $camelName }}InsertSQL, error)
}
{{ end }}
