{{ define "Select" }}{{ $camelName := .Name | toCamel | toLower }}
type {{ $camelName }}SelectSQL struct {
	{{ .Name }}SQL
	Columns []string
	order   string
	limit   *uint64
}

func (q {{ $camelName }}SQL) Select() {{ $camelName }}SelectSQL {
	return {{ $camelName }}SelectSQL{
		q,
		[]string{
			{{ range .Columns }}"{{ .Name }}",{{ end }}
		},
		"",
		nil,
	}
}

func (q {{ $camelName }}SelectSQL) Limit(l uint64) {{ $camelName }}SelectSQL {
	q.limit = &l
	return q
}

{{ range .Columns }}{{ template "SelectColumn" . }}{{ end }}
func (q {{ $camelName }}SelectSQL) ToSql() (string, []interface{}, error) {
	columns := strings.Join(q.Columns, ", ")
	wheres, vs, err := q.where.ToSql()
	if err != nil {
		return "", nil, err
	}

	query := "SELECT " + columns + " FROM {{ .Name }}"
	if wheres != "" {
		query += " WHERE" + wheres
	}
	query += q.order
	if q.limit != nil {
		query += " LIMIT " + strconv.FormatUint(*q.limit, 10)
	}

	return query + ";", vs, nil
}
{{ end }}
