package {{ .PackageName }}

import (
	"strings"
	"strconv"

	"github.com/mackee/go-sqlla"
)
{{ $camelName := .Name | toCamel | toLower }}
type {{ $camelName }}SQL struct {
	where sqlla.Where
}

func New{{ .Name | toCamel | Title }}SQL() userSQL {
	q := {{ $camelName }}SQL{}
	return q
}

{{ template "Select" . }}
{{ template "Update" . }}
{{ template "Insert" . }}
{{ template "Delete" . }}
