{{ define "UpdateColumn" }}{{ $smallTableName := .TableName | toCamel | Untitle }}
func (q {{ $smallTableName }}UpdateSQL) Set{{ .Name | toCamel | Title }}(v {{ .TypeName }}) {{ $smallTableName }}UpdateSQL {
	q.setMap["`{{ .Name }}`"] = v
	return q
}

func (q {{ $smallTableName }}UpdateSQL) Where{{ .Name | toCamel | Title }}(v {{ .TypeName }}, exprs ...sqlla.Operator) {{ $smallTableName }}UpdateSQL {
	var op sqlla.Operator
	if len(exprs) == 0 {
		op = sqlla.OpEqual
	} else {
		op = exprs[0]
	}

{{- if ne .BaseTypeName .TypeName }}
	where := sqlla.Expr{{ .BaseTypeName | Exprize | Title }}{Value: {{ .BaseTypeName }}(v), Op: op, Column: "`{{ .Name }}`"}
{{- else }}
	where := sqlla.Expr{{ .BaseTypeName | Exprize | Title }}{Value: v, Op: op, Column: "`{{ .Name }}`"}
{{- end }}
	q.where = append(q.where, where)
	return q
}

{{ end }}
