{{ define "UpdateColumnNullT" }}{{ $smallTableName := .TableName | toCamel | untitle }}
func (q {{ $smallTableName }}UpdateSQL) Set{{ .MethodName }}(v {{ .TypeName }}) {{ $smallTableName }}UpdateSQL {
	q.setMap[{{ cquoteby .Name }}] = {{ .ExprValueIdentifier }}
	return q
}

func (q {{ $smallTableName }}UpdateSQL) Set{{ .MethodName }}ToNull() {{ $smallTableName }}UpdateSQL {
	q.setMap[{{ cquoteby .Name }}] = sql.Null[{{ .BaseTypeName }}]{ Valid: false }
	return q
}

func (q {{ $smallTableName }}UpdateSQL) Where{{ .MethodName }}(v {{ .TypeName }}, exprs ...sqlla.Operator) {{ $smallTableName }}UpdateSQL {
	where := {{ .ExprValue }}{Value: sql.Null[{{ .BaseTypeName }}]{ V: {{ .ExprValueIdentifier }}, Valid: true }, Op: sqlla.Operators(exprs), Column: {{ cquoteby .Name }}}
	q.where = append(q.where, where)
	return q
}

func (q {{ $smallTableName }}UpdateSQL) Where{{ .MethodName }}IsNull() {{ $smallTableName }}UpdateSQL {
	where := {{ .ExprValue }}{Value: sql.Null[{{ .BaseTypeName }}]{ Valid: false }, Op: sqlla.Operators([]sqlla.Operator{sqlla.OpEqual}), Column: {{ cquoteby .Name }}}
	q.where = append(q.where, where)
	return q
}

func (q {{ $smallTableName }}UpdateSQL) Where{{ .MethodName }}IsNotNull() {{ $smallTableName }}UpdateSQL {
	where := {{ .ExprValue }}{Value: sql.Null[{{ .BaseTypeName }}]{ Valid: false }, Op: sqlla.Operators([]sqlla.Operator{sqlla.OpNot}), Column: {{ cquoteby .Name }}}
	q.where = append(q.where, where)
	return q
}

func (q {{ $smallTableName }}UpdateSQL) Where{{ .MethodName }}In(vs ...{{ .TypeName }}) {{ $smallTableName }}UpdateSQL {
	_vs := make([]{{ .BaseTypeName }}, 0, len(vs))
	for _, v := range vs {
		_vs = append(_vs, {{ .ExprValueIdentifier }})
	}
	where := {{ .ExprMultiValue }}{Values: _vs, Op: sqlla.MakeInOperator(len(vs)), Column: {{ cquoteby .Name }}}
	q.where = append(q.where, where)
	return q
}
{{ end }}
