{{ define "Update" }}{{ $camelName := .Name | toCamel | toLower }}
{{- $constructor := printf "New%sSQL" (.Name | toCamel | Title) -}}
type {{ $camelName }}UpdateSQL struct {
	{{ .Name }}SQL
	setMap	sqlla.SetMap
	Columns []string
}

func (q {{ $camelName }}SQL) Update() {{ $camelName }}UpdateSQL {
	return {{ $camelName }}UpdateSQL{
		{{ $camelName }}SQL: q,
		setMap: sqlla.SetMap{},
	}
}

{{ range .Columns }}{{ template "UpdateColumn" . }}{{ end }}
func (q {{ $camelName }}UpdateSQL) ToSql() (string, []interface{}, error) {
	var err error
	var s interface{} = {{ .StructName }}{}
	if t, ok := s.({{ $camelName }}DefaultUpdateHooker); ok {
		q, err = t.DefaultUpdateHook(q)
		if err != nil {
			return "", []interface{}{}, err
		}
	}
	setColumns, svs, err := q.setMap.ToUpdateSql()
	if err != nil {
		return "", []interface{}{}, err
	}
	wheres, wvs, err := q.where.ToSql()
	if err != nil {
		return "", []interface{}{}, err
	}

	query := "UPDATE {{ .Name }} SET" + setColumns
	if wheres != "" {
		query += " WHERE" + wheres
	}

	return query + ";", append(svs, wvs...), nil
}

{{- if .HasPk }}
func (s {{ .StructName }}) Update() {{ $camelName }}UpdateSQL {
	return {{ $constructor }}().Update().Where{{ .PkColumn.Name | toCamel | Title }}(s.{{ .PkColumn.FieldName }})
}

func (q {{ $camelName }}UpdateSQL) Exec(db sqlla.DB) ([]{{ .StructName }}, error) {
	query, args, err := q.ToSql()
	if err != nil {
		return nil, err
	}
	_, err = db.Exec(query, args...)
	if err != nil {
		return nil, err
	}
	qq := q.{{ $camelName }}SQL

	return qq.Select().All(db)
}
{{- else }}
func (q {{ $camelName }}UpdateSQL) Exec(db sqlla.DB) (sql.Result, error) {
	query, args, err := q.ToSql()
	if err != nil {
		return nil, err
	}
	return db.Exec(query, args...)
}
{{- end }}

type {{ $camelName }}DefaultUpdateHooker interface {
	DefaultUpdateHook({{ $camelName }}UpdateSQL) ({{ $camelName }}UpdateSQL, error)
}
{{ end }}
